.navbar {
  position: fixed;
  width: 100vw;
  background: rgb(46, 92, 255);
  display: flex;
  justify-content: center;
  font-size: 20px;
  z-index: 10;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navbar a {
  padding: 20px;
  color: #f1f1f1;

  &:hover {
    background: rgb(72, 110, 248);
  }
}