@use './styles/vars';
@import './styles/mixins';

.container {
  @include flexCenter;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Zen dots';
  overflow: hidden;
}

.title {
  letter-spacing: 2px;
  margin-bottom: 4vh;
  font-size: 2.5vh;
  text-shadow: 4px 4px 20px vars.$grey;
  opacity: 0;
  @include animApparition(1s, 1s);
}

.options {
  @include flexCenter;
  flex-direction: column;
  
  &_card {
    opacity: 0;
    transform: translateY(50px);
    @include animApparition;

    &:nth-child(even) {
      transform: translateY(-50px);
      @include animApparition;
    }
  }

  &_button {
    position: relative;
    border-radius: 10px;
    margin: 4vw;
    box-shadow: 4px 4px 10px vars.$black;
    transition: .3s;

    &:active {
      transform: scale(0.95);
    }
  }

  &_icon {
    max-width: 40vw;
    transition: .3s;
  }
}

.tooltip {
  font-family: 'Zen dots';
  letter-spacing: 2px;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%);
  max-width: 15vw;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 0.7vw;
  background: vars.$light-grey;
  opacity: 0;
  transition: all 0.5s ease;
}

.section {
  @include flexCenter;
  flex-direction: column;
}

.shifumi {
  font-size: 8vw;
  transform: scale(20);
  opacity: 0;
  @include animApparition;
}

.fight {
  display: flex;
  align-items: center;
}

.lets_fight {
  margin-bottom: 100px;
  font-size: 2vh;
  letter-spacing: 0.8vh;
}

.versus {
  font-size: 1.8vh;
  letter-spacing: 1vh;
  margin: 2vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opponent {
  font-size: 1.8vh;
  letter-spacing: 1vh;
}

.result {
  text-align: center;
  font-size: 3vh;
  margin: 20px 0;
  opacity: 0;
  transform: scale(0.5);
  @include animApparition;
}

.quote {
  text-align: center;
  font-size: 2vh;
  letter-spacing: 0.5vh;
  opacity: 0;
  @include animApparition(1s, 1s);
}

.button {
  margin: 50px 0;
  text-transform: uppercase;
  letter-spacing: 0.5vh;
  font-size: 20px;
  padding: 15px 30px;
  background: vars.$main-color;
  color: vars.$white;
  border-radius: 5px;
  transition: transform .2s;

  &:hover {
    background: vars.$main-hover;
  }

  &:active {
    transform: scale(0.95);
  }
}


@media screen and (min-width: 850px) {

  .options {
    flex-direction: row;

    &_button {

      &:hover .options_icon {
        transform: scale(1.8) rotate(-10deg);
      }

      &:hover .tooltip {
        transform: translate(-50%, 10px);
        pointer-events: all;
        opacity: 1;
      }
    }

    &_icon {
      max-width: 20vw;
    }
  }

  .title {
    margin-bottom: 4vw;
    font-size: 2vw;
  }

  .lets_fight {
    font-size: 2vw;
    letter-spacing: 0.3vw;
  }

  .versus {
    font-size: 2vw;
    letter-spacing: 0.5vw;
    margin: 2vw;
  }

  .opponent {
    font-size: 2vw;
    letter-spacing: 0.5vw;
  }

  .result {
    font-size: 2vw;
  }

  .quote {
    font-size: 1vw;
  }
}

@keyframes apparition {

  100% {
    opacity: 1;
    transform: none;
  }
}